/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width: 450px!important

ol, p, td, th, ul
  line-height: 1.7

html, body, .sidebar, .navbar, .navbar .links
  background-color: #1a1a1a !important

tr:nth-child(2n)
  background-color: #262626 !important

.theme-default-content code, pre
  background-color: #fefefe2a !important
  border-radius: 6px !important

.theme-default-content pre code, .theme-default-content pre[class*="language-"] code
  background-color: transparent !important

.sidebar, .navbar, .page-nav .inner, h2, .home .footer, .search-box input, th, td, .sidebar .nav-links
  border-color: #404040 !important

.search-box input
 font-family: inherit

.search-box input
  background-color: #262626 !important

.home .footer
  color: #999999 !important

.home .hero .action-button
  background-color: #8E2DE2 !important
  border-radius: 500px !important
  border: none !important

.label 
  background-color: $accentColor
  width: fit-content
  padding: 4px 12px
  border-radius: 500px
  font-family: "Space Mono", monospace
  font-size: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)